<div class="container">
<header class="header_area">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <h1>Reborn</h1>
      </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a class="nav-link" href="#">How It Works</a>
      </li>
      <li>
        <a class="nav-link" href="#">Why it matters</a>
      </li>
      <li>
        <a class="nav-link" href="#">Collections</a>
      </li>
      <li>
        <a class="nav-link" href="#">Designer Login</a>
      </li>
    </ul>
  </nav>
</header>

<div class="collections-listpage-title container">
  <h1 class="text-center">All Collections</h1>
</div>
<section class="row">
  <div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Collection Name</th>
                            <th scope="col">Designer</th>
                            <th scope="col" class="text-center">Location</th>
                            <th scope="col" class="text-centre">About Collection</th>
                            <th scope="col" class="text-centre">Fabrics needed</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each collections}}
                        <tr>
                            <td><img style="width:850px;" src="{{this.owner.profilePicturePath}}"/></td>
                            <td>{{this.collectionName}}</td>
                            <td><a href="/collections/{{this.owner._id}}">{{this.owner.fullname}}</td>
                            <td class="text-center">Berlin</td>
                            <td>{{this.storyBehind}}</td>
                            <td>{{fabricTypes}}</td>
                            <td class="text-center"><a href="/sellClothesForm" class="btn btn-primary">Sell to collection</a><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        {{/each}}
                </table>
            </div>
        </div>
    </div>
  </div>