

<div class="container">
      <header class="d-flex justify-content-between flex-wrap">
        <h1>Re-Worn</h1>
          <nav>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Designers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
            </ul>
          </nav>
      </header>
      
<!--      <section class="featured"></section>-->
      
      <section class="row">
        <div class="col-lg-4 profile-info">
          <img class="float-left" src="{{user.profilePicturePath}}" style="width:50%" alt="Photograph of Nick Pettit">
          <h2>{{user.fullname}}</h2>
          <p class="text-muted">{{user.currentLocation}}</p>
        </div>
        <div class="col-lg-5">
          <p>{{user.about}}</p>
        </div>
        <div class="col-lg-3">
          <p><a class="btn btn-block btn-primary" href="#">Ask About this Collection</a></p>
        </div>
      </section>
      <br>
      <br>
      <h3>Check-out my collections</h3>
      {{#each collections}}
      <section class="row">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{this.collectionPicturePath}}" width="50%" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{this.collectionName}}</h5>
            <p class="card-text">{{this.storyBehind}}</p>
          <a href="/viewCollection/{{this._id}}" class="btn btn-primary">Contribute to collection</a>    
          </div>
        </div>
      </section>
       {{/each}}
  

<section>
  <div class="container collectionCard"><br>
    <h3>This will be the collection title</h3>
    
    <p>Here will be the description of the collection and what type of product they plan it to be</p>
    <h4>Sketchbook Samples</h4>
    <section class="gallery d-flex flex-wrap">
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
  <br>
  <br>
    <div class="container-fluid">
       <div class="col-md-3 bit">
          <h2> Fabric Collection Goal</h2>
         <div id="activeBorder" class="active-border">
             <div id="circle" class="circle">
                <span class="prec 270" id="prec">0%</span>
              </div>   
        </div>
     </div>
      <div class="col-md-3 bit">
          <h2> Number of submissions</h2>
             <div id="circle" class="circle">
                <span class="prec 270" id="prec">22</span>
          </div>   
     </div>
      <div class="col-md-3 bit">
          <h2> Backers accepted</h2>
             <div id="circle" class="circle">
                <span class="prec 270" id="prec">22</span>
          </div>   
     </div>
      <div class="col-md-1   bit">
          <h2> Water saved</h2>
          <p class="btn prec">54 gallons</p>   
     </div>
   </div>
  <br>
  <br>
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Fabric requirements</th>
              <th style="width:10%">Quantity (KGs)</th>
							<th style="width:10%">Price per KG</th>
							<th style="width:20%">Upsell your fabric</th>
							<th style="width:10%">Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-th="Product">
								<div class="row">
                  <br>
                  <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">Denim</h4>
										<p>We accept any types of Denim that are not ripped. For ripped denim, the final price payable will only be after inspection.</p>
									</div>
								</div>
							</td>
							<td data-th="Quantity"><br>20 KGs</td>
							<td data-th="Subtotal" class="text-center"><br>1.99</td>
              <td data-th="Price"><br>
								<input type="number" class="text-center" value="0.85"> KG</span>
							</td>
              <td data-th="Subtotal" class="text-center"><br>1.99</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td data-th="Product">
								<div class="row">
                  <br>
                  <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">Denim</h4>
										<p>We accept any types of Denim that are not ripped. For ripped denim, the final price payable will only be after inspection.</p>
									</div>
								</div>
							</td>
							<td data-th="Quantity"><br>20 KGs</td>
							<td data-th="Subtotal" class="text-center"><br>1.99</td>
              <td data-th="Price"><br>
								<input type="number" class="form-control text-center" value="1">
							</td>
              <td data-th="Subtotal" class="text-center"><br>1.99</td>
						</tr>
					</tbody>

  
	{{!--------    End of products		 ------}}


					<tfoot>
						<tr>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
							<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register">Back this project</button></td>
						</tr>
					</tfoot>
				</table>
</div>

</section>
<br>
<br>

    <!--=====================================
        FORM MODAL
       =====================================-->

     <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="register form" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-info text-white">
            <h5 class="modal-title" id="exampleModalLabel">Register your pre-worns for sale</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- registration form -->
            <form id="contact-form" method="post" action="contact.php" role="form">
              <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_name">Firstname *</label>
                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="number">Phone number *</label>
                    <input id="number" type="text" name="phone" class="form-control" placeholder="Please enter your ph. number *" required="required" data-error="Phone number is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">Email *</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_need">What type of upcycling would you be open to</label>
                    <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                        <option value=""></option>
                        <option value="Request quotation">I want to sell my old clothes only</option>
                        <option value="Request order status">I want to upcycle my old clothes into something cool</option>
                        <option value="Other">Give away now, receive money on sale of upcycle</option>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">

<div class="input-default-wrapper mt-5">
  <span class="input-group-text mb-3" id="input2">Attach some photos of these clothes</span>
  <input type="file" id="file-with-multi-file" class="input-default-js" data-multiple-target="{target} files selected">  
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">What were some nice memories with these clothes? *</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-success btn-send" value="Register Contribution">
            </div>
        </div>

    </div>
</form>
            <!-- /registration form -->
          </div>
        </div>
      </div>
    </div>
