<div class="container">
<header class="header_area">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <h1>Reborn</h1>
      </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a class="nav-link" href="#">How It Works</a>
      </li>
      <li>
        <a class="nav-link" href="#">Why it matters</a>
      </li>
      <li>
        <a class="nav-link" href="#">Collections</a>
      </li>
      <li>
        <a class="nav-link" href="#">Designer Login</a>
      </li>
    </ul>
  </nav>
</header>
{{!-- -------- This section has been added by AB in reference to designerProfilePrivate --------       --}}
<section>
  <span class="border">
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
  <div class="container">
        <div class="col-lg-4 profile-info">
          <img class="img-thumbnail float-left" style="width:300px;height:300px;" src="{{user.profilePicturePath}}" alt="Photograph">
        </div>
        <div class="col-lg-5">
          <h2>Name: {{user.fullname}}</h2>
          <p class="text-muted">Location: {{user.currentLocation}}</p>
          <p>About..{{user.about}}</p>
          <p><a class="btn btn-block btn-primary" href="/enterCollection">Message {{user.about}}</a></p>
        </div>
        </div>  
  </span>
</section>

{{!-- -------- This section is the SAME as above but with different html, has been added by Nacho ----------}}      
{{!-- <section class="row">
  <div class="col-lg-4 profile-info">
          <img class="float-left" src="{{user.profilePicturePath}}" style="width:50%">
          <h2>{{user.fullname}}</h2>
          <p class="text-muted">{{user.currentLocation}}</p>
        </div>
        <div class="col-lg-5">
          <p>{{user.about}}</p>
        </div>
        <div class="col-lg-3">
          <p><a class="btn btn-block btn-primary" href="#">Ask About this Collection</a></p>
        </div>
</section> --}}
      <br>
      <br>
      <h3>Check-out my collections</h3>

{{#each collection}}
<section>
  <div class="container collectionCard"><br>
    <h3>{{this.collectionName}}</h3>
    
    <p>{{this.storyBehind}}</p>
    <h4>Sketchbook Samples</h4>
    <section class="gallery d-flex flex-wrap">
        {{#each this.collectionPicturePath}}
        <a href="#"><img style="width:200px;height:200px;" src="{{this}}"></a>
        {{/each}}
  <br>
  <br>
    {{!-- THE FABRIC COLLECTION GOAL IS HERE AND COMMENTED OUT
    <div class="container-fluid">
       <div class="col-md-3 bit">
          <h2> Fabric Collection Goal</h2>
         <div id="activeBorder" class="active-border">
             <div id="circle" class="circle">
                <span class="prec 270" id="prec">0%</span>
              </div>   
        </div>
     </div>
      <div class="col-md-3 bit">
          <h2> Number of submissions</h2>
             <div id="circle" class="circle">
                <span class="prec 270" id="prec">22</span>
          </div>   
     </div>
      <div class="col-md-3 bit">
          <h2> Backers accepted</h2>
             <div id="circle" class="circle">
                <span class="prec 270" id="prec">22</span>
          </div>   
     </div>
      <div class="col-md-1   bit">
          <h2> Water saved</h2>
          <p class="btn prec">54 gallons</p>   
     </div>
   </div> --}}

  <br>
  <br>
  <form id="submit-bid" method="POST" action="/sellClothesForm">
	  <table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:40%">Fabric requirements</th>
              <th style="width:20%">Required Quantity (KGs)</th>
							<th style="width:10%">Price per KG</th>
							<th style="width:20%">Upsell fabric/KG</th>
							<th style="width:10%">Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-th="Product">
								<div class="row">
                  <br>
                  <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
                <h4> </h4>
										<h4 class="fabric"><input type="text" name="fabricType" value="{{this.fabricTypes}}" readonly></h4>
										<p>Please note that the final indicated price will be paid after pre-inspection and approval.</p>
									</div>
								</div>
							</td>
							<td data-th="Quantity"><br><input type="text" name="fabricType" value="{{this.fabricWeight}}" readonly></td>
							<td data-th="Subtotal" class="number text-center"><br><span class="unitPrice">{{this.amount}}</span></td>
              <td data-th="Price"><br>
								<input type="number" class="sellQty" value="0.0" min="0" max="{{this.fabricWeight}}">
							</td>
              <td data-th="Subtotal" class="text-center"><br><span class="subtotal">1.99</span></td>
						</tr>
					</tbody>
					<tbody>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
          <script>
            let requiredQuantity = parseFloat($(".requiredQuantity").text());
            let unitPrice = parseFloat($(".unitPrice").text());
            let subtotal = $(".subtotal");
            subtotal.text(requiredQuantity*unitPrice);
          </script>
	{{!--------    End of products		 ------}}
					<tfoot>
						<tr>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
              <td><input type="submit" value="Submit"></td>
              {{!-- <td><a  class="btn btn-primary btn-lg" href="/sellClothesForm">Submit Bid</a></td>						</tr> --}}
					</tfoot>
				</table>
    </form>
</div>
</section>
{{/each}}
</div>

{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>
  $(function()){
    var form = $(".submit-bid");
    form.submit(function(event){
      //Capture .requiredQuantity .unitPrice .sellQty
        const fabric = $(".fabric").text();
        let requiredQuantity = parseFloat($(".requiredQuantity").text());
        let unitPrice = parseFloat($(".unitPrice").text());
        let sellQty = parseFloat($(".sellQty").val());
        $.post(
          "/views/seller/sellerClothes.hbs",
          {
            fabric:fabric,
            requiredQuantity:requiredQuantity,
            unitPrice:unitPrice,
            sellQty:sellQty
          }
        )
    })
  }
</script> --}}

