<div class="container">
<header class="header_area">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <h1>Reborn</h1>
      </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a class="nav-link" href="#">How It Works</a>
      </li>
      <li>
        <a class="nav-link" href="#">Why it matters</a>
      </li>
      <li>
        <a class="nav-link" href="#">Collections</a>
      </li>
      <li>
        <a class="nav-link" href="#">Designer Login</a>
      </li>
    </ul>
  </nav>
</header>
{{!-- -------- This section has been added by AB in reference to designerProfilePrivate --------       --}}
<section>
  <span class="border">
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
  <div class="container">
        <div class="col-lg-4 profile-info">
          <img class="img-thumbnail float-left" style="width:300px;height:300px;" src="{{user.profilePicturePath}}" alt="Photograph">
        </div>
        <div class="col-lg-5">
          <h2>Name: {{user.fullname}}</h2>
          <p class="text-muted">Location: {{user.currentLocation}}</p>
          <p>About..{{user.about}}</p>
          <p><a class="btn btn-block btn-primary" href="/enterCollection">Message {{user.about}}</a></p>
        </div>
        </div>  
  </span>
</section>

{{!-- -------- This section is the SAME as above but with different html, has been added by Nacho ----------}}      
{{!-- <section class="row">
  <div class="col-lg-4 profile-info">
          <img class="float-left" src="{{user.profilePicturePath}}" style="width:50%">
          <h2>{{user.fullname}}</h2>
          <p class="text-muted">{{user.currentLocation}}</p>
        </div>
        <div class="col-lg-5">
          <p>{{user.about}}</p>
        </div>
        <div class="col-lg-3">
          <p><a class="btn btn-block btn-primary" href="#">Ask About this Collection</a></p>
        </div>
</section> --}}


      <br>
      <br>
      <h3>Check-out my collections</h3>
      {{#each collections}}
      <section class="row">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{this.collectionPicturePath}}" width="50%" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{this.collectionName}}</h5>
            <p class="card-text">{{this.storyBehind}}</p>
          <a href="/viewCollection/{{this._id}}" class="btn btn-primary">Contribute to collection</a>    
          </div>
        </div>
      </section>
       {{/each}}


<section>
  <div class="container collectionCard"><br>
    <h3>This will be the collection title</h3>
    
    <p>Here will be the description of the collection and what type of product they plan it to be</p>
    <h4>Sketchbook Samples</h4>
    <section class="gallery d-flex flex-wrap">
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
        <a href="#"><img style="width:200px;height:200px;" src="https://images.unsplash.com/photo-1481495278953-0967c9759b78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"></a>
  <br>
  <br>
    {{!-- THE FABRIC COLLECTION GOAL IS HERE AND COMMENTED OUT
    <div class="container-fluid">
       <div class="col-md-3 bit">
          <h2> Fabric Collection Goal</h2>
         <div id="activeBorder" class="active-border">
             <div id="circle" class="circle">
                <span class="prec 270" id="prec">0%</span>
              </div>   
        </div>
     </div>
      <div class="col-md-3 bit">
          <h2> Number of submissions</h2>
             <div id="circle" class="circle">
                <span class="prec 270" id="prec">22</span>
          </div>   
     </div>
      <div class="col-md-3 bit">
          <h2> Backers accepted</h2>
             <div id="circle" class="circle">
                <span class="prec 270" id="prec">22</span>
          </div>   
     </div>
      <div class="col-md-1   bit">
          <h2> Water saved</h2>
          <p class="btn prec">54 gallons</p>   
     </div>
   </div> --}}

  <br>
  <br>
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Fabric requirements</th>
              <th style="width:10%">Quantity (KGs)</th>
							<th style="width:10%">Price per KG</th>
							<th style="width:20%">Upsell your fabric</th>
							<th style="width:10%">Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-th="Product">
								<div class="row">
                  <br>
                  <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">Denim</h4>
										<p>We accept any types of Denim that are not ripped. For ripped denim, the final price payable will only be after inspection.</p>
									</div>
								</div>
							</td>
							<td data-th="Quantity"><br>20 KGs</td>
							<td data-th="Subtotal" class="text-center"><br>1.99</td>
              <td data-th="Price"><br>
								<input type="number" class="text-center" value="0.85"> KG</span>
							</td>
              <td data-th="Subtotal" class="text-center"><br>1.99</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td data-th="Product">
								<div class="row">
                  <br>
                  <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin">Denim</h4>
										<p>We accept any types of Denim that are not ripped. For ripped denim, the final price payable will only be after inspection.</p>
									</div>
								</div>
							</td>
							<td data-th="Quantity"><br>20 KGs</td>
							<td data-th="Subtotal" class="text-center"><br>1.99</td>
              <td data-th="Price"><br>
								<input type="number" class="form-control text-center" value="1">
							</td>
              <td data-th="Subtotal" class="text-center"><br>1.99</td>
						</tr>
					</tbody>

  
	{{!--------    End of products		 ------}}


					<tfoot>
						<tr>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
              <td><a class="btn btn-primary btn-lg" href="/sellClothesForm">Submit Bid</a></td>						</tr>
					</tfoot>
				</table>
</div>

</section>
</div>
