{{!-- In this page, the designer will be able to view the collection he/she created using 
the enterCollection.hbs page --}}
{{!-- 1. About the collection
2. Images of the collection
3. Fabrics needed --}}

<h4 style="color:rgb(220,20,20)">You are logged in</h4>
<h1>viewCollection</h1>
<div>
<h2>Collections</h2>
 
  
    <div> 
  <div>
  <h4>Collection Name: {{collections.collectionName}}</h4>
  <h4>Material Type: {{collecions.fabricTypes}}</h4> 
  <h4>Cost: {{collections.amount}}</h4>
  <h4>Weight: {{collections.fabricWeight}}</h4>
  <img src="{{collections.collectionPicturePath}}" width="50%"> 
  <br>
  </div>
  </div>

</div>
